body
{
    background-image: linear-gradient(to bottom, rgb(215, 225, 186), rgb(189, 239, 103));
}
nav
{
    background-color: rgba(10, 101, 57, 45%);
}

main{
    padding: 1em;
    background-color: #DAC895;
    border-radius: 1cm;
    margin-bottom: 7%;
}


main > section{
    padding: 1em;
    background-color: #FBECC7;
    border-radius: 1cm;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2%;
}

#paypals{
    text-align: center;
    padding: 1em;
    background-color: #75ABDE;
    box-shadow: 7px 7px 11px 0px black;
    border-radius: 1cm;
    margin: 0% 20% 10% 20%;
}

#paypalp{
    font-weight: bold;
}

.button{
    background-color: #326BA0;
    color: #000000;
    font-weight: bold;
    border: solid #326BA0;
}
.button:hover
{
    background-color: #ffffff;
    border: #326BA0 solid;
    transition-duration: 0.5s;
}
h2{
    text-align: center;
    color: #323A1A;
    font-weight: bold;
}

.comm{
    color: #0A6539;
    font-weight: bold;
}

@media (max-width:768px)
{
    #paypalp
    {
        font-size: 80%;
    }
    main>section p  
    {
        font-size: 70%;
    }
    #paypals
    {
        margin:8%
    }
    main
    {
        padding: 1%;
    }
}